Options +FollowSymLinks
Options -Indexes

RewriteEngine On

<IfModule mod_rewrite.c>


RewriteEngine On
RewriteCond %{ENV:HTTPS} !on [NC]
RewriteCond %{HTTP_HOST} ^andreschantre\.ga [OR]
RewriteCond %{HTTP_HOST} ^www\.andreschantre\.ga
RewriteRule ^(.*)$ https://andreschantre.ga/$1 [R=301,L,NE]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
#RewriteRule ^([a-z]+)/?$ $1.html [NC]



</IfModule>